.form-error, .frm_error_main {
	color: red;
	padding-top: 5px;
}

hr {
	border-top: 1px solid rgba(0, 0, 0, .5) !important;
}

.btn-primary:disabled {
	background: rgba(0, 0, 0, 0.4);
}

.form-control.ng-dirty.ng-touched.ng-invalid, .form-select.ng-dirty.ng-touched.ng-invalid, .record-exists {
	border: 1px solid red;
}

.text-left { text-align: left;}

.error-text { color: red !important; }
