
<div class="container" *ngIf="!isLoggedIn">

	<main class="form-signin m-auto">
		<form>
			<h1 class="h3 mb-3 fw-normal">Please sign in</h1>
			<div class="form-floating">
				<input type="text" 
					[(ngModel)]="inpt_username" 
					[ngModelOptions]="{standalone: true}"
					class="form-control" id="floatingInput" placeholder="john doe"> <label for="floatingInput">Username</label> </div>
			<div class="form-floating">
				<input type="password" 
				[(ngModel)]="inpt_password" 
				[ngModelOptions]="{standalone: true}"
				class="form-control" id="floatingPassword" placeholder="Password"> <label for="floatingPassword">Password</label> </div>
			<button class="btn btn-primary w-100 py-2" type="submit" (click)="login()">Sign in</button> 
		</form>
	</main>

</div>

<div class="container" *ngIf="isLoggedIn">

	<div class="py-4">
		<br />
		<h2>Registered Applications</h2>
		<p class="lead">These are all the successfull applications registered on the system</p>
	</div>

	<div class="py-4">

    <form class="form-inline search" [formGroup]="form">
			<!--<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Search by
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<button class="dropdown-item" type="button" (click)="updateSearchBy(searchType.id)">ID no</button>
					<button class="dropdown-item" type="button" (click)="updateSearchBy(searchType.passport)">Passport no</button>
					<button class="dropdown-item" type="button" (click)="updateSearchBy(searchType.bus_reg_no)">Bus Reg no</button>
					<button class="dropdown-item" type="button" (click)="updateSearchBy(searchType.trust_reg_no)">Trust Reg no</button>
				</div>
			</div>-->
      <input class="form-control mr-sm-2 search-inpt" 
				type="search" 
				[placeholder]="'Search by Name, ID, Bus Reg or Trust Reg No'"  
				aria-label="Search"
				formControlName="search">
      <button class="btn btn-outline-success my-2 my-sm-0" 
				type="submit" 
				(click)="doSearch()">Search</button>
    </form>		

		<!-- 
			+(searchBy === null ? '...' : searchBy) 
			[disabled]="searchBy === null"
		-->

		<table class="table">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">ID/PASSPORT</th>
					<th scope="col">Bus Reg No</th>
					<th scope="col">Trust Reg No</th>
					<th scope="col">Cell</th>
					<th scope="col">Citizen Status</th>
					<th scope="col">Reg Type</th>
					<th scope="col">Bank</th>
					<!--<th scope="col">Acc No</th>-->
					<th scope="col">Date Registered</th>
				</tr>
			</thead>
			<tbody *ngIf="_UISearchResults.length > 0">
				<tr *ngFor="let ben of _UISearchResults">
					<td scope="row">{{ben.firstName}} {{ben.lastName}}</td>
					<td scope="row">{{ben.user_id && ben.user_id.length > 0 ? ben.user_id : ben.passport}}</td>
					<td scope="row">{{ben.bus_reg_no}}</td>
					<td scope="row">{{ben.trust_reg_no}}</td>
					<td scope="row">{{ben.cell}}</td>
					<td scope="row">{{ben.citizenStatus === 'citizen' ? 'SA' : 'Foreigner'}}</td>
					<td scope="row">{{ben.reg_type}}</td>
					<td scope="row">{{ben.bank}}</td>
					<!--<td scope="row">{{beneficiary.acc_no}}</td>-->
					<td scope="row">{{ben.createdAt | date:'yyyy-MM-dd'}}</td>
				</tr>
			</tbody>
		</table>

		<p class="text-center" *ngIf="noResultsFound">
			<br /><br /><br />
			No search results found. Please try a different keyword
		</p>

	</div>

</div>
