
<div>
	<div class="container" *ngIf="applicationInProgress">

			<!-- 
				===========================================================================================   
																				PAGE 1
				===========================================================================================
			 -->
			<ng-container *ngIf="page === 1">
				<div class="row center-auto">
					<div class="py-4 text-center center-auto">
						<br />
						<h2>FICA Registration form</h2>
					</div>

					<hr class="my-4">

					<div class="col-lg-12">
		
						<h4 class="mb-3">Acknowledgment of the use of personal information</h4>
						<p><strong>DEFINITIONS</strong></p>

							<ul>
								<li> <strong>“Company”</strong> refers to Rovic Fishing And Enterprises (Pty) Ltd</li>
								<li> <strong>“Privacy and Data Protection Conditions”</strong> refers to the 8 (eight) statutory prescribed conditions for the lawful Processing of Personal Information;</li>
								<li> <strong>“POPI”</strong> shall mean the Protection of Personal Information Act, No. 4 of 2013, as amended from time to time, including any regulations made under the Act;</li>
								<li> <strong>“Personal Information”</strong> shall have the meaning ascribed to it in Chapter 1 of POPI and includes, but is not limited to a name, address, email address, telephone or fax number, fingerprints, criminal history and education or other personal credentials provided, or which is collected from the candidate or other third parties, before and/or during the background screening process and/or thereafter;</li>
								<li> <strong>“Responsible Parties”</strong> have meaning to Rovic Fishing and the verification agent together, and “Responsible Party” any one of them;</li>
								<li> <strong>“Verification Information Suppliers”</strong> shall mean third parties acting on behalf of Rovic Fishing, including, but not limited to, criminal record bureaus, credit bureaus, governmental bodies, and any educational, training, and fraud prevention organisations;</li>
							</ul>
						
						<hr class="my-4">

						<h4 class="mb-3">I acknowledge,</h4>

						<p>
that the Company's, duly authorized verification agent, (Name of verification agent),
will need to process my Personal Information to conduct background screening
checks as indicated above which are required by the Company. 
						</p>

						<p>that verification requests form part of the background screening process and that:</p>
						<ul>
							<li>requests for Personal Information from Data Brockers will only be conducted for the below prescribed purposes only; 
								<ul>
									<li>Confirmation of identity information, that the said person is still alive;</li>
									<li>Confirmation of banking information as provided is correct;</li>
									<li>Fraud prevention or detection.</li>
								</ul>
							</li>
							<li>
								that any Personal Information supplied to the Company is provided voluntarily
								and is accurate and current as the Company may not be able to comply with its
								obligations if the correct Personal Information is not supplied to the Company, I
								further agree to correct and update such information when necessary; 
							</li>
						</ul>
						
<p>that privacy is important to the Responsible Parties and the Responsible Parties will
use reasonable efforts in order to ensure that any Personal Information in their
possession or processed on their behalf is kept confidential, stored in a secure
manner, and processed in terms of South African law and or applicable Data
Protection Legislation, for the purposes I have authorised.</p>

<p> that all information, including Personal Information, supplied to the Company is
accurate and current and agree to correct and update such information when
necessary.</p>
<p> may be shared by <strong>the Company</strong> with Data Brockers and may be further shared by
Data Brockers with the Verification Information Suppliers for verification or other
legitimate purposes;</p>
<p> may be stored by <strong>the Company</strong>, for legislated retention periods and where such
periods are not legislated then my personal information may be stored by the
Company for as long as the information may be needed for verification purposes, or
any other period as I may agree with <strong>the Company.</strong> 			</p>


<p>I take note that if the Responsible Party has utilised the Personal Information
contrary to the Privacy and Data Protection Conditions, I may first resolve any
concerns with that Responsible Party. If I am not satisfied with such process, I have
the right to lodge a complaint with the Information Regulator.</p>
<p> A copy of Personal Information kept by the Responsible Parties will be furnished to
me upon request in terms of the provisions of POPI and I understand that I may
dispute any information in the record provided.</p>
<p> “I agree that <strong>Rovic Fishing And Enterprises</strong>, to the extent permitted by law, will not
be liable for any complaint, claim or action brought by me, arising from any action or
omission by <strong>Rovic Fishing And Enterprises</strong>, to the extent that such action or
omission resulted from <strong>Rovic Fishing And Enterprises</strong> complying with the terms of
this agreement and I shall indemnify, hold harmless and defend <strong>Rovic Fishing And
Enterprises</strong> from and against any such claims or actions brought against <strong>Rovic
Fishing And Enterprises</strong>.”</p>


						<hr class="my-4">

						<h4 class="mb-3">Acceptance</h4>
						

				<div class="form-check">
					<input type="checkbox" #radioTandC 
						class="form-check-input" 
						id="same-tandc"
						[ngModel]="radioTandCModel">
					<label class="form-check-label" for="same-tandc">I accept the Terms of service</label>		
      	</div>						

						<!--
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
						<p>Please <a href="#modal_tandcs" data-toggle="modal">click here</a> to read through our terms and conditions and accept it</p>

						<hr class="my-4">

						<h4 class="mb-3">Privacy Policy and POPI</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
						<p>Please <a href="#modal_popi" data-toggle="modal">click here</a> to read Privacy policy and POPI conditions</p>			-->
					
					</div>
				</div>				

				<!-- =========== PAGINATION ========== -->
				<hr class="my-4">
				<div class="pagination justify-center">
					<button class="col-4 w-50 btn btn-primary btn-lg" 
						(click)="nextPage()"
						[disabled]="!radioTandC.checked">Continue</button>				 
				</div>	
				<hr class="my-4">
			</ng-container>

			<!-- 
				===========================================================================================   
																				PAGE 2
				===========================================================================================
			 -->

			<ng-container *ngIf="page === 2">
				<div class="py-4 text-center center-auto">
					<br />
					<h2>FICA Registration form</h2>					
					<p class="lead">Please complete all the required fields below in order for us to successfully process your application</p>
					<br /><br />
					<p class="text-left">Before starting please ensure you have the following documents ready for upload, based on your citizen status and registration type:</p>
					<ul class="text-left">
						<li><strong>Official</strong> copy of ID or Passport <span class="red-text">(*NB: for <strong>Smart IDs</strong> please upload the front and back part of your ID in <strong>one</strong> document)</span></li>
						<li>an Individual: Proof of Address</li>
						<li>a Business: An <strong>Official</strong> copy of Business Registration Doc</li>
						<li>a Trust: An <strong>Official</strong> Copy of Letter of Authority</li>
						<li>an <strong>Official</strong> Bank Confirmation Letter <span class="red-text">(Stamped and <strong>not older</strong> than 3 months)</span></li>
					</ul>				
				</div>

				<div class="row center-auto">
					<div class="col-lg-12">
		
						<hr class="my-4">
		
						<h4 class="mb-3">Personal information</h4>

						<form class="needs-validation" [formGroup]="regForm">
							<div class="row g-3">
								<div class="col-sm-6">
									<label for="reg_type" class="form-label">Registration type</label>
									<select #regTypeSelect 
										class="form-select" 
										(change)="updateRegType(regTypeSelect.value)"
										formControlName="reg_type"
										name="reg_type">
										<option value="">Choose...</option>
										@for (type of reg_types; let i = $index; track type) {
											<option [value]="type.id">{{ type.name }}</option>
										}
									</select>
								</div>
							</div>
	
							<br />
							
							<div class="row g-3">
								<div class="col-sm-6">
									<label for="firstName" class="form-label">First name</label>
									<input type="text" class="form-control" id="firstName" formControlName="firstName" required>
								</div>
								<div class="col-sm-6">
									<label for="lastName" class="form-label">Last name</label>
									<input type="text" class="form-control" id="lastName" formControlName="lastName" required>
								</div>
	
								<hr class="my-4">
	
								<ng-container>
			
									<div class="my-3" style="visibility: hidden; height: 0;">
										<div class="col-sm-6">
										<div class="form-check">
											<input id="citizen" 
												name="citizenStatus" 
												type="radio" 
												class="form-check-input" 
												value="citizen"
												formControlName="citizenStatus">
											<label class="form-check-label" for="citizen">an SA Citizen</label>
										</div>
										<div class="form-check">
											<input id="foreigner" 
												name="citizenStatus" 
												type="radio" 
												class="form-check-input"
												value="foreigner"
												formControlName="citizenStatus">
											<label class="form-check-label" for="foreigner">a Foreigner</label>
										</div>
										</div>
									</div>							
	
								</ng-container>
	
								<div class="col-sm-6" *ngIf="isSACitizen">
									<label for="username" class="form-label">ID Number</label>
									<div class="input-group has-validation width-420">
										<span class="input-group-text"><i class="bi bi-phone"></i></span>
										<input type="text" class="form-control" 
											id="username" 
											placeholder="" 
											formControlName="user_id"
											name="user_id">
										<div class="invalid-feedback" *ngIf="regForm.controls['user_id'].errors" class="frm_error_main">
											Your ID number is invalid.
										</div>
									</div>
								</div>
								<div class="col-sm-6" *ngIf="isForeigner">
									<label for="username" class="form-label">Passport Number</label>
									<div class="input-group has-validation width-420">
										<span class="input-group-text"><i class="bi bi-phone"></i></span>
										<input type="text" class="form-control" id="username" placeholder="" formControlName="passport">
									</div>
								</div>						
								<div class="col-sm-6">
									<label for="username" class="form-label">Cellphone</label>
									<div class="input-group has-validation width-420">
										<span class="input-group-text">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone" viewBox="0 0 16 16">
												<path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
												<path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
											</svg>										
										</span>
										<input type="text" class="form-control" id="username" placeholder="0810000000" formControlName="cell" required>
									</div>
								</div>						
								<div class="col-sm-6">
									<label for="email" class="form-label">Email </label>
									<div class="input-group has-validation width-420">
										<span class="input-group-text">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
												<path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
											</svg>									
										</span>
										<input type="email" class="form-control" id="email" placeholder="you@example.com" formControlName="email" required>
										<div class="form-error" *ngIf="regForm.get('email')?.invalid && regForm.get('email')?.touched">
											A valid email is required.
										</div>									
									</div>
								</div>
		
								<div class="col-sm-6" *ngIf="regType === 'individual'">
									<label for="address" class="form-label">Tax number</label>
									<div class="input-group has-validation width-420">
										<span class="input-group-text">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
												<path d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
												<path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1zm11 0H3v14h3v-2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V15h3z"/>
											</svg>								
										</span>
										<input type="text" class="form-control" id="tax_no" name="tax_no" formControlName="tax_no">							
									</div>
								</div>
							</div>

							<hr class="my-4">

							<!-- ADDRESS FIELDS -->
							<div class="row g-3" *ngIf="regType === 'individual'">

								<div class="col-sm-6">
									<label for="username" class="form-label">Address 1</label>
									<div class="input-group has-validation width-420">
										<span class="input-group-text">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
												<path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
											</svg>									
										</span>
										<input type="text" class="form-control" id="address_1" placeholder="5" formControlName="address_1" name="address_1" required>
									</div>
								</div>		
								<div class="col-sm-6">
									<label for="username" class="form-label">Address 2</label>
									<div class="input-group has-validation width-420">
										<span class="input-group-text">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
												<path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
											</svg>									
										</span>
										<input type="text" class="form-control" id="address_2" placeholder="Johnson way" formControlName="address_2" name="address_2" required>
									</div>
								</div>				
								<div class="col-sm-6">
									<label for="username" class="form-label">Suburb</label>
									<div class="input-group has-validation width-420">
										<span class="input-group-text">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
												<path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
											</svg>									
										</span>
										<input type="text" class="form-control" id="suburb" placeholder="Delport" formControlName="suburb" name="suburb" required>
									</div>
								</div>								
								<div class="col-sm-6">
									<label for="username" class="form-label">Town</label>
									<div class="input-group has-validation width-420">
										<span class="input-group-text">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
												<path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
											</svg>									
										</span>
										<input type="text" class="form-control" id="town" placeholder="" formControlName="town" name="town" required>
									</div>
								</div>							
								<div class="col-sm-6">
									<label for="username" class="form-label">Postal Code</label>
									<div class="input-group has-validation width-420">
										<span class="input-group-text">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
												<path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
											</svg>									
										</span>
										<input type="text" class="form-control" id="postal_code" placeholder="" formControlName="postal_code" name="postal_code" required>
									</div>
								</div>
							</div>
						</form>			
					</div>
				</div>				

				<!-- =========== PAGINATION ========== -->
				<hr class="my-4">

				<ng-container *ngIf="formSubmissionErrors_PAGE2.length > 0"> 

					<div class="submission-errors row center-auto">
						
						<h4 class="mb-3">Form Errors</h4>
						<p>Please complete the following fields before continuing:</p>

						<div>
							<ul>
								@for (err of formSubmissionErrors_PAGE2; let i = $index; track err) {
									<li>{{ err }}</li>
								}
							</ul>
						</div>
					</div>
				</ng-container>

				<div class="pagination justify-space-around">
					<button class="col-4 w-50 btn btn-primary btn-lg" 
						(click)="nextPage()"
						[disabled]="!page2IsValid">Next</button>				 
				</div>
				<hr class="my-4">						
				
			</ng-container>

			<!-- 
				===========================================================================================   
																				PAGE 3
				===========================================================================================
			 -->

			<ng-container *ngIf="page === 3">

				<div class="row center-auto">
					<div class="col-lg-12">

						<br /><br />
						
						<ng-container *ngIf="regType === 'trust' || regType === 'business'">
							<hr class="my-4">
						</ng-container>

						<form class="needs-validation" [formGroup]="regForm">

							<!-- ADDRESS FIELDS -->
							<div class="row g-3" *ngIf="regType !== 'individual'">

								<h4 class="mb-3">Address Details</h4>
								<p>Please complete address details for the {{ regType === 'trust' ? 'Trust' : 'Business' }}</p>

								<div class="col-sm-6">
									<label for="username" class="form-label">Address 1</label>
									<div class="input-group has-validation width-420">
										<span class="input-group-text">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
												<path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
											</svg>									
										</span>
										<input type="text" class="form-control" id="address_1" placeholder="Unit 5" formControlName="address_1" name="address_1" required>
									</div>
								</div>		
								<div class="col-sm-6">
									<label for="username" class="form-label">Address 2</label>
									<div class="input-group has-validation width-420">
										<span class="input-group-text">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
												<path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
											</svg>									
										</span>
										<input type="text" class="form-control" id="address_2" placeholder="Business complex" formControlName="address_2" name="address_2" required>
									</div>
								</div>				
								<div class="col-sm-6">
									<label for="username" class="form-label">Suburb</label>
									<div class="input-group has-validation width-420">
										<span class="input-group-text">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
												<path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
											</svg>									
										</span>
										<input type="text" class="form-control" id="suburb" placeholder="Delport Industria" formControlName="suburb" name="suburb" required>
									</div>
								</div>							
								<div class="col-sm-6">
									<label for="username" class="form-label">Town</label>
									<div class="input-group has-validation width-420">
										<span class="input-group-text">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
												<path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
											</svg>									
										</span>
										<input type="text" class="form-control" id="town" placeholder="" formControlName="town" name="town" required>
									</div>
								</div>							
								<div class="col-sm-6">
									<label for="username" class="form-label">Postal Code</label>
									<div class="input-group has-validation width-420">
										<span class="input-group-text">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
												<path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
											</svg>									
										</span>
										<input type="text" class="form-control" id="postal_code" placeholder="" formControlName="postal_code" name="postal_code" required>
									</div>
								</div>								
							</div>

							<!-- BANKING FIELDS -->
							<div class="row g-3">

								<hr class="my-4" *ngIf="regType === 'trust' || regType === 'business'">

								<h4 class="mb-3">Banking information
									<ng-container *ngIf="regType === 'trust' || regType === 'business'">
										(for the {{ regType === 'trust' ? 'Trust' : 'Business' }})
									</ng-container>
								</h4>

								<div class="col-12" *ngIf="regType === 'business'">
									<label for="username" class="form-label">Business Registration Number</label>
									<div class="input-group has-validation width-420">
										<span class="input-group-text">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
												<path d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
												<path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1zm11 0H3v14h3v-2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V15h3z"/>
											</svg>										
										</span>
										<input type="text" class="form-control" id="username" placeholder="YYYY/000000/00" formControlName="bus_reg_no">
										<div class="invalid-feedback">
											This is a required field
										</div>
									</div>
								</div>		
								
								<div class="col-12" *ngIf="regType === 'trust'">
									<label for="trust_reg_no" class="form-label">Trust Registration Number</label>
									<div class="input-group has-validation width-420">
										<span class="input-group-text">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
												<path d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
												<path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1zm11 0H3v14h3v-2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V15h3z"/>
											</svg>										
										</span>
										<input type="text" class="form-control" id="trust_reg_no" placeholder="IT000000/YYYY" formControlName="trust_reg_no">
										<div class="invalid-feedback">
											This is a required field
										</div>
									</div>
								</div>								
		
		
								<div class="col-sm-6">
									<label for="acc_holder" *ngIf="regType === 'individual'" class="form-label">Account Name / Holder</label>
									<label for="acc_holder" *ngIf="regType !== 'individual'" class="form-label">Name of {{regType === 'business' ? 'Business' : 'Trust'}}</label>
									<input type="text" class="form-control" id="acc_holder" placeholder="eg John Smith" formControlName="acc_holder" required>
								</div>
								<div class="col-sm-6">
									<label for="acc_holder" class="form-label">Account Type</label>
									<select #accSelect 
										class="form-select" 
										id="reg_type" 
										(change)="updateAccType(accSelect.value)"
										formControlName="acc_type"
										name="acc_type">
										<option value="">Choose...</option>
										@for (type of accTypes; let i = $index; track type) {
											<option [value]="type.id">{{ type.name }}</option>
										}
									</select>              
								</div>              
		
								<div class="col-sm-6">
									<label for="acc_number" class="form-label">Account Number</label>
									<input type="number" class="form-control" id="acc_number" placeholder="" formControlName="acc_no" required>
								</div>
		
								<div class="col-sm-6">
									<label for="bank" class="form-label">Bank</label>
									<select #bankSelect 
										class="form-select" 
										id="reg_type" 
										(change)="updateBank(bankSelect.value)"
										formControlName="bank"
										name="bank">
										<option value="">Choose...</option>
										@for (bank of banks; let i = $index; track bank) {
											<option [value]="bank.id">{{ bank.name }}</option>
										}
									</select>  
									<div class="invalid-feedback">
										Please select a valid country.
									</div>
								</div>              
								
		
								<div class="col-sm-6" *ngIf="isForeigner">
									<label for="swift" class="form-label">SWIFT (BIC)/ SORT CODE</label>
									<input type="number" class="form-control" id="acc_number" placeholder="eg 0000" formControlName="swift_code">
								</div>
		
								<div class="col-sm-6" *ngIf="isForeigner">
									<label for="iban" class="form-label">IBAN</label>
									<input type="number" class="form-control" id="acc_number" placeholder="eg 0000" formControlName="iban">
								</div>
								
								<div class="col-sm-6" *ngIf="isForeigner && regForm.controls['bank'].value === 'bank_other'">
									<label for="bank_other" class="form-label">Bank (Other)</label>
									<input type="text" class="form-control" id="bank_other" placeholder="eg Bank of Spain" formControlName="bank_other">
								</div>

							<hr class="my-4">
	
							<h4 class="mb-1">Upload Documents</h4>

							<hr class="my-4" *ngIf="regType === 'trust' || regType === 'business'">
	
							<!-- FILE UPLOAD FIELDS -->
							<ng-container *ngIf="regForm.controls['acc_holder'].value.length > 0; else uploadDocsPrompt">

								<div class="upload-docs-container">

									<!-- BUSINESS/TRUST DOCUMENTATION COLUMN -->
									<div class="docs-col-left" *ngIf="regType !== 'individual'">
										<h5 class="mb-1">{{ regType === 'trust' ? 'Trust' : 'Business' }} Documents</h5>
										<p>All {{ regType === 'trust' ? 'trust' : 'business' }} documentation</p>

										<hr class="my-4">

										<!-- BANK CONFIRMATION LETTER BUSINESS/TRUST --- DEV NOTE: NEEDS TO BE TWEAKED -->

										<ng-container *ngIf="regType === 'business'">
											<app-file-upload 
												[fileName]="'Upload Official Registration Certificate (COR 14.3)'" 
												[fileType]="fileTypes.BUS_REG_DOC"
												(dbName)="updateDBName($event, fileTypes.BUS_REG_DOC)"></app-file-upload>
										</ng-container>
			
										<ng-container *ngIf="regType === 'trust'">
											<app-file-upload 
												[fileName]="'Upload Official Letter of authority'" 
												[fileType]="fileTypes.TRUST_DOC"
												(dbName)="updateDBName($event, fileTypes.TRUST_DOC)"></app-file-upload>
										</ng-container>

										<ng-container>
											<app-file-upload 
												[fileName]="'Upload Official Bank Confirmation Letter'" 
												[fileType]="fileTypes.BANK_CONF_LETTER_BUSTRUST" 
												(dbName)="updateDBName($event, fileTypes.BANK_CONF_LETTER_BUSTRUST)"></app-file-upload>								
										</ng-container>													

										<!-- PROOF OF ADDRESS FOR BUSINESS/TRUST --- DEV NOTE: NEEDS TO BE TWEAKED -->
										<app-file-upload 
											[fileName]="proofOfAddressLabelText" 
											[fileType]="fileTypes.PROOF_OF_ADDRESS_BUSTRUST" 
											(dbName)="updateDBName($event, fileTypes.PROOF_OF_ADDRESS_BUSTRUST)"></app-file-upload>	


									</div>
									<!-- PERSONAL DOCUMENTATION COLUMN -->
									<div class="docs-col-right">

										<ng-container *ngIf="regType !== 'individual'">
											<h5 class="mb-1">Personal Documents</h5>
											<p>Individual completing form on behalf of {{ regType === 'trust' ? 'trust' : 'business' }}</p>
											<hr class="my-4">
										</ng-container>

				
										<!-- BANK CONFIRMATION LETTER PERSONAL --- DEV NOTE: NEEDS TO BE TWEAKED -->
										<ng-container *ngIf="isSACitizen">
											<app-file-upload 
												[fileName]="'Upload Official ID'" 
												[fileType]="fileTypes.ID" 
												(dbName)="updateDBName($event, fileTypes.ID, regType !== 'individual' ? regType : '')"></app-file-upload>								
										</ng-container>

										<ng-container *ngIf="isForeigner">
											<app-file-upload 
												[fileName]="'Upload Official Passport'" 
												[fileType]="fileTypes.PASSPORT" 
												(dbName)="updateDBName($event, fileTypes.PASSPORT, regType !== 'individual' ? regType : '')"></app-file-upload>								
										</ng-container>	

										<ng-container *ngIf="regType === 'individual'">
											<app-file-upload 
												[fileName]="'Upload Official Bank Confirmation Letter'" 
												[fileType]="fileTypes.BANK_CONF_LETTER" 
												(dbName)="updateDBName($event, fileTypes.BANK_CONF_LETTER)"></app-file-upload>								
										</ng-container>																					

										<!-- PROOF OF ADDRESS FOR PERSONAL --- DEV NOTE: NEEDS TO BE TWEAKED -->
										<app-file-upload 
											[fileName]="proofOfAddressLabelText" 
											[fileType]="fileTypes.PROOF_OF_ADDRESS" 
											(dbName)="updateDBName($event, fileTypes.PROOF_OF_ADDRESS, regType !== 'individual' ? regType : '')"></app-file-upload>										

									</div>								
								</div>					
								
							</ng-container>

							<ng-template #uploadDocsPrompt>
								<p>**Please complete your Banking Information above before uploading documents.</p>
							</ng-template>							
							
							<!-- SUBMISSION ERRORS ON LAST PAGE: if any are found -->
							<ng-container *ngIf="formSubmissionErrors_PAGE3.length > 0"> 
								<hr class="my-4">
	
								<div class="submission-errors">
									
									<h4 class="mb-3">Submission Errors</h4>
									<p>We could not process your application because of the following errors:</p>
	
									<div>
										<ul>
											@for (err of formSubmissionErrors_PAGE3; let i = $index; track err) {
												<li>{{ err }}</li>
											}
										</ul>
									</div>
									<ng-container *ngIf="displayProvisionalDocText()">
										<p class="mt-3"><strong>Note:</strong> 
											If you are 100% sure that you have submitted <strong>all required documents</strong> above 
											and that the information is 100% correct you may stop this registration - we will contact you to complete the process.</p>
									</ng-container>
								</div>
							</ng-container>
	
							<ng-container *ngIf="recordAlreadyExists">
								<hr class="my-4">
								<div class="record-exists">
									<h4 class="mb-3 error-text">Details already exist</h4>
									<p><span class="error-text">Please note:</span> We could not register your application because the data already exists in our system.</p>
								</div>
							</ng-container>

						</div>
					</form>
					
					</div>
				</div>				

				<!-- =========== PAGINATION ========== -->
				<hr class="my-4">
				<div class="pagination justify-space-around">
					<button *ngIf="!isLoading" class="col-4 w-50 btn btn-primary btn-lg" (click)="previousPage()">Previous</button>
					<button *ngIf="!isLoading" class="col-4 w-50 btn btn-primary btn-lg" 
						(click)="submitForm()"
						[disabled]="regForm.status === 'INVALID'">
						Complete Registration
					</button>
					<button [disabled]="true" *ngIf="isLoading" class="center-auto w-50 btn btn-primary btn-lg">
						Please wait...
					</button>
				</div>

				<hr class="my-4">				
			</ng-container>
	</div>
</div>
	
	<!-- APPLICATION COMPLETE -->
	<ng-container *ngIf="!applicationInProgress && !rateLimiterActive">
		<div class="container">
			<div class="py-5 text-center">
				<h2>Your FICA registration was successful!</h2>
				<p class="lead">Congratulations, your application has been processed successfully. You will receive further communication from your relevant contact in due course.</p>
			</div>
		</div>
	</ng-container>

	<!-- RATE LIMITER MESSAGE -->
	<ng-container *ngIf="rateLimiterActive">
		<div class="container">
			<div class="py-5 text-center">
				<h2>Network spamming detected!</h2>
				<p class="lead">
					We are detecting that your IP address is spamming our server and network and thus we are temporarily blocking requests from your computer.
				</p>
				<p class="lead">
					If however you are legitimately trying to complete your application registration please reach out to your contact to assist.
				</p>				
			</div>
		</div>		
	</ng-container>

<!-- Modal - T and C -->
<div class="modal fade" id="modal_tandcs" tabindex="-1" role="dialog" aria-labelledby="modal_tandcsLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_tandcsLabel">Terms & Conditions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				</p>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.					
				</p>
				<div class="form-check">
					<input type="checkbox" #radioTandC 
						class="form-check-input" 
						id="same-tandc"
						[ngModel]="radioTandCModel">
					<label class="form-check-label" for="same-tandc">I accept the Terms of service</label>		
      	</div>
			</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="!radioTandC.checked" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal - POPIA -->
<div class="modal fade" id="modal_popi" tabindex="-1" role="dialog" aria-labelledby="modal_popiLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_popiLabel">POPI ACT</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				</p>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.					
				</p>
				<div class="form-check">
					<input type="checkbox" #radioPOPI 
						class="form-check-input" 
						id="same-popi"
						[ngModel]="radioPOPIModel">
					<label class="form-check-label" for="same-popi">I accept the Terms of service</label>
				</div>				
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="!radioPOPI.checked" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
	
