
<div class="container">

	<div class="py-4">

		<button class="btn btn-primary float-end mt-4" type="button" (click)="goToDashboard()">Dashboard</button>
		<br />
		<h2>Error Logs / Failed Applications</h2>
		<!--<p class="lead">These are all the successfull applications registered on the system</p>-->
	</div>

	<div class="py-4">

    <form class="form-inline search">
      <input class="form-control mr-sm-2 search-inpt" 
				type="search" 
				[placeholder]="'Search by keyword'"  
				aria-label="Search"
				[(ngModel)]="searchText" [ngModelOptions]="{standalone: true}">
      <button class="btn btn-outline-success my-2 my-sm-0" 
				type="submit" 
				(click)="doSearch()">Search</button>
    </form>

		<br /><br />

		<table class="table" *ngIf="(_logData$ | async) as logData">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Log</th>
					<th scope="col">Status</th>
				</tr>
			</thead>
			<tbody *ngIf="logData.length > 0">
				<tr *ngFor="let data of logData; let idx = index">
					<td scope="row">{{ idx + 1 }}</td>
					<td scope="row" [innerHTML]="formatDataLog(data.log)"></td>
					<td scope="row">
						<ng-container *ngIf="data.is_resolved == 1; else notResolved">
							<span class="badge bg-success">Resolved</span>
						</ng-container>
						<ng-template #notResolved>
							<button class="btn btn-info" data-toggle="modal" data-target="#modal_tandcs" (click)="currentResolveID = data.id">Resolve</button>
						</ng-template>
					</td>
				</tr>
			</tbody>
		</table>

		<p class="text-center" *ngIf="noResultsFound">
			<br /><br /><br />
			No search results found. Please try a different keyword
		</p>

	</div>

</div>



<!-- RESOLVE MODAL: CONFIRM ACCEPT -->
<div class="modal fade" id="modal_tandcs" tabindex="-1" role="dialog" aria-labelledby="modal_tandcsLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_tandcsLabel">Confirm Resolution</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<p *ngIf="!apiIsLoading">Are you sure you want to resolve this issue?</p>
				<p *ngIf="apiIsLoading">Resolving issue...</p>
			</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="confirmResolve()">Yes, Confirm</button>
				<!-- [disabled]="!radioTandC.checked" -->
      </div>
    </div>
  </div>
</div>