/* You can add global styles to this file, and also import other style files */
body, html {
	background: #f7f7f7 !important
}

.error-text { color: red !important; }


hr {
	border-top: 1px solid rgba(0, 0, 0, .5) !important;
}

.width-420 { max-width: 420px; }

.pL0 { padding-left: 5px !important;}

.container {
	background: white !important;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center-auto {
	max-width: 900px;
	margin: 0 auto;
}

.form-error, .frm_error_main {
	color: red;
	padding-top: 5px;
}

hr {
	border-top: 1px solid rgba(0, 0, 0, .5) !important;
}

.btn-primary:disabled {
	background: rgba(0, 0, 0, 0.4);
}

.form-control.ng-dirty.ng-touched.ng-invalid, .form-select.ng-dirty.ng-touched.ng-invalid, .record-exists {
	border: 1px solid red;
}

.submission-errors {
	border: 3px solid red;
	padding: 20px;
	margin: 20px auto;
}

.record-exists { padding: 15px }

.text-left { text-align: left;}

.justify-center { justify-content: center;}
.justify-space-around { justify-content: space-around;}

.search-inpt { min-width: 400px; }

.upload-docs-container {
	display: flex;
	justify-content: space-between;
	gap: 20px;	
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin h3 {
	font-size: 1.1em;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.julz {
	margin-bottom: 10px;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
}