.form-signin {
    max-width: 330px;
    padding: 10rem 1rem;
}

.form-signin input {
	margin-bottom: 6px;
}

.search {
	margin-bottom: 20px;
}

.dropdown {
	margin-right: 10px;
}

.radios {
	display: flex;
	gap: 10px;
	align-items: baseline;
}

	.radios .radio {
		display: flex;
    align-items: baseline;
    gap: 5px;
	}

.idpass-row {
	width: 400px;
}